<!-- contact area start -->
<div class="contact__area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="contact__content text-center mb-140">
                    <h2>Contact Us</h2>
                    <p>For me, the most important part of improving at photography has been sharing it. Sign up for an
                        Exposure account, or<br> post regularly to Tumblr, or both. Tell people you’re trying to get
                        better at photography. </p>
                </div>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="contactbox">
                        <div class="contactbox__heading">
                            <h5>Contact us</h5>
                            <h2>Please contact us quickly if <br>you need help.</h2>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>NewYork Add:</h5>
                            <ul>
                                <li>S9 Heaven Stress, Beverly Hill, Melbourne, USA.</li>
                                <li>Open: 9:30 am – 9:00 pm</li>
                            </ul>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>London</h5>
                            <ul>
                                <li>S9 Heaven Stress, Beverly Hill, Melbourne, USA.</li>
                                <li>Open: 9:30 am – 9:00 pm</li>
                            </ul>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>Contacts Email:</h5>
                            <ul>
                                <li><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="4504222a3124052037202b312d2028206b262a28">[email&#160;protected]</a>
                                    Phone</li>
                                <li><a href="tel:(+100)123456789">(+100) 123 456 789</a></li>
                            </ul>
                        </div>
                        <button onclick="goBack()" style="margin-top: 2rem;" class="btn btn-secondary">Go Back</button>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area end -->

<script>
    function goBack() {
        history.back();
    }
</script>