{{!-- search --}}
<div class="search_area">
    <div class="search_close">
        <span><i class="fal fa-times"></i></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">
                        <div class="search_tab">
                            <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                        data-bs-target="#home2" type="button" role="tab" aria-selected="true">All
                                        categories</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                        data-bs-target="#profile2" type="button" role="tab"
                                        aria-selected="false">Basketball</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact2"
                                        type="button" role="tab" aria-selected="false">Handbag</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                        data-bs-target="#sportswear" type="button" role="tab"
                                        aria-selected="false">Sportswear</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="contact2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_search">
                        <form action="#">
                            <input type="text" name="search" placeholder="search products">
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli
                        Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="f0999e969fb09588919d809c95de939f9d">[email&#160;protected]</a></p>
                    <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="1d78657c706d717833707c74715d756870337e7270">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
{{!-- search end --}}

<!-- slider start -->
<div class="slider-active swiper-container height">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-item">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_images">
                            <img class="back" src="stylesheets/img/slider/slider-img-1.png" alt="no image">
                        </div>
                        <div class="text-size-laptop">
                            <p class="slider-icon-txt-laptop">Laptops</p>
                        </div>
                        {{!-- <img class="top" src="stylesheets/img/slider/text.png" alt="no image"> --}}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- slider end -->

<!-- features area start  -->
<div class="features-area d-none d-md-block fix">
    <div class="row g-0">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a href="/viewlistProducts"><img style="margin-left: 10px;" src="stylesheets/img/features/fe1.png"
                            alt="features1"></a>
                </div>
                <div class="fetures__content">
                    {{!-- <h4 class="feature-title mb-40 d-md-none d-lg-block discount-1">RYZEN<br> POWERED</h4>
                    <p class="d-md-none d-lg-block"><span class="discount"><a href="#"></a></span></p> --}}
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a href="/viewlistProducts"><img class="hp-logo-blue-01-mid"
                            style="width: 80%;0px;height: auto; margin-left: 10%;"
                            src="stylesheets/img/features/banner-home2.png" alt="features1"></a>
                </div>
                {{!-- <div class="fetures__content pt-200">
                    <p class="d-md-none d-lg-block">Gota store with a tool that makes design simple for everyone</p>
                </div> --}}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a href="/viewlistProducts"><img style="width: 90%; margin-left: 15px; height: auto;"
                            src="stylesheets/img/features/fe3.png" alt="features1"></a>
                </div>
                <div class="fetures__content">
                    {{!-- <h4 class="feature-title mb-40">HP<br>INTEL</h4> --}}
                    {{!-- <p class="d-md-none d-lg-block">k <span class="discount"><a href="#">up to 70%
                                off</a></span> limited time discount</p> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features area end  -->



<!-- product show case area start  -->
<div class="show-case lightblue pt-125">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="section-wrapper text-center mb-35">
                    <h4 class="sub-title">Bestseller products</h4>
                    <h2 class="section-title text-white">Hp pavillion ec1778gx (Ryzen9 7th generation)</h2>
                    <p class="d-none d-lg-block">One of the best performer in this range, powered by 16-core cpu.<br>
                        Comes with dedicated Rtx 3080 Gpu .</p>
                </div>
            </div>
            <div class="case-info text-center">
                <span class="offer-text d-none d-lg-block">hot deal<i class="far fa-stars"></i></span>
                <h2 class="back1-text d-none d-lg-block">top</h2>
                <h2 class="back-text d-none d-lg-block">limited</h2>
                <a href="/viewlistProducts"><img class="banar-product" style="width: 337px; height: auto;"
                        src="stylesheets/img/product/product4.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- product show case area end  -->



<!-- popup area start -->
<div class="overlay"></div>
<div class="product-popup">
    <div class="view-background">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="quickview">
                    <div class="quickview__thumb">
                        <img src="stylesheets/img/quick_view/25.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="viewcontent">
                    <div class="viewcontent__header">
                        <h2>Brown Leather Bags</h2>
                        <a class="view_close product-p-close" href="javascript:void(0)"><i
                                class="fal fa-times-circle"></i></a>
                    </div>
                    <div class="viewcontent__rating">
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star"></i>
                    </div>
                    <div class="viewcontent__price">
                        <h4><span>$</span>99.00</h4>
                    </div>
                    <div class="viewcontent__stock">
                        <h4>Available :<span> In stock</span></h4>
                    </div>
                    <div class="viewcontent__details">
                        <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                            risus lacinia vel. Fusce eget turpis orci.</p>
                    </div>
                    <div class="viewcontent__action">
                        <span>Qty</span>
                        <span><input type="number" placeholder="1"></span>
                        <span><a href="#">add to cart</a></span>
                        <span><i class="fal fa-heart"></i></span>
                        <span><i class="fal fa-info-circle"></i></span>
                    </div>
                    <div class="viewcontent__footer">
                        <ul>
                            <li>Category:</li>
                            <li>SKU:</li>
                            <li>Brand:</li>
                        </ul>
                        <ul>
                            <li>Watches</li>
                            <li>2584-MK63</li>
                            <li>Brenda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popup area end -->