<div>
    <div
        style="text-align: center; width: 100%; height: 400px; background-color: rgb(216, 216, 216); padding: 160px 25px 0 0;">
        <p style="font-size: 80px;"> Order-Successful </p>
        <div class="pt-5 pr-5" style="color: rgb(0, 0, 0);border: 10ch;">
            <a href="/viewOrders"><button>View orders</button></a>
        </div>
    </div>
</div>