<body>

    <main id="main" class="main">
        <div class="container">

            <div class="pagetitle">
                <h1>Return Reason</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="">Return order >></li>
                        <li class="">Return Reason >></li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <section class="section">
                <div class="row">
                    <div class="col-lg-12">




                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Return Reason</h5>



                                <form class="row g-3" action="/return-user-order" method="post">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input name="retreason" type="text" class="form-control" id="floatingName"
                                                required placeholder="Reason for the order to be added">
                                            <label for="floatingName">Return Reason</label>
                                            <span style="color: red;">{{error}}</span>
                                            <input type="text" name="orderId" value="{{body.orderId}}" hidden>
                                            <input type="text" name="orderStatus" value="{{body.orderStatus}}" hidden>
                                        </div>
                                    </div>

                                    <div class="text-left">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form><!-- End floating Labels Form -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </main><!-- End #main -->