<!DOCTYPE html>
<html>

<head>
  <title>Laptops</title>
  <link rel="shortcut icon" type="image/x-icon" href="stylesheets/img/favicon.ico">
  {{!--
  <link rel="manifest" href="site.html"> --}}

  {{!--
  <link rel='stylesheet' href='/stylesheets/style.css' /> --}}

  {{!-- Validation --}}
  <script src="/stylesheets/js/validation.js"></script>

  {{!-- Gota user pages --}}

  <!-- CSS here -->
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/css/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
  <link rel="stylesheet" href="/stylesheets/css/futura-std-font.css">
  <link rel="stylesheet" href="/stylesheets/css/meanmenu.css">
  <link rel="stylesheet" href="/stylesheets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/stylesheets/css/slick.css">

  <link rel="stylesheet" href="/stylesheets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/css/responsive.css">

  <!-- JS here -->
  <script data-cfasync="false" src="/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="/stylesheets/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/stylesheets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/stylesheets/js/popper.min.js"></script>
  <script src="/stylesheets/js/bootstrap.min.js"></script>
  <script src="/stylesheets/js/owl.carousel.min.js"></script>
  <script src="/stylesheets/js/isotope.pkgd.min.js"></script>
  <script src="/stylesheets/js/one-page-nav-min.js"></script>
  <script src="/stylesheets/js/slick.min.js"></script>
  <script src="/stylesheets/js/jquery.meanmenu.min.js"></script>
  <script src="/stylesheets/js/ajax-form.js"></script>
  <script src="/stylesheets/js/wow.min.js"></script>
  <script src="/stylesheets/js/jquery.scrollUp.min.js"></script>
  <script src="/stylesheets/js/imagesloaded.pkgd.min.js"></script>
  <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
  <script src="/stylesheets/js/plugins.js"></script>
  <script src="/stylesheets/js/swiper-bundle.min.js"></script>
  <script src="/stylesheets/js/countdown.js"></script>
  <script src="/stylesheets/js/main.js"></script>

  {{!-- Gota user pages end --}}

  {{!-- script --}}
  <script src="/stylesheets/js/script.js"></script>

  {{!-- script end --}}

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

  {{#if user}}
  {{>user-header}}
  {{/if}}

  {{{body}}}

  {{#if user}}
  {{>user-footer}}
  {{/if}}


</body>

</html>